<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="OwlConfigs" type="OwlAgent.Configs.OwlConfigsSection, OwlAgent" />
  </configSections>
  <OwlConfigs>
      <Counters>
        <add Category="Memory" CounterName="Available MBytes" Instance="" />
        <add Category="Processor" CounterName="% Processor Time" Instance="_Total" />        
      </Counters>
      <CommonSettings>
        <add CounterIntervalRead="5" FileIntervalWrite="60" SendIntervalData="300" /> 
      </CommonSettings>
  </OwlConfigs>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>